<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.thinking.mapper.ThinkingMapper">
    <delete id="delete">
        delete from thinking_tbl
               where id = #{id}
    </delete>
    <select id="getList" resultType="org.scoula.thinking.domain.ThinkingVO">
        SELECT *
        FROM thinking_tbl
    </select>
    <update id="updateLike">
        UPDATE thinking_tbl
        SET like_count = like_count + 1
        WHERE id = #{id}
    </update>
    <select id="getByDate" resultType="org.scoula.thinking.domain.ThinkingVO">
        SELECT * FROM thinking_tbl WHERE DATE(created_at) = #{date}
    </select>
</mapper>