<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.comment.mapper.CommentMapper">
    <insert id="create">
        INSERT INTO comment_tbl(thinking_id, content, password)
        VALUES (#{thinkingId}, #{content}, #{password})
        <selectKey resultType="long" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateComment">
        UPDATE comment_tbl
        SET content = #{content}
        WHERE id = #{id}
            <!-- AND password = #{password} -->
    </update>
    <select id="getPassword" resultType="java.lang.String">
        SELECT password
        FROM comment_tbl
        WHERE id = #{id}
    </select>
    <delete id="deleteComment">
        DELETE FROM comment_tbl
        WHERE id = #{id}
            <!-- AND password = #{password} -->
    </delete>
    <select id="selectComment" resultType="org.scoula.comment.domain.CommentVO">
        SELECT
            id,
            thinking_id,
            content,
            created_at,
            updated_at
        FROM comment_tbl
        WHERE thinking_id = #{thinkingId}
        ORDER BY created_at ASC
    </select>

</mapper>